@import "tailwindcss";

html {
  scroll-behavior: smooth;

}

@keyframes float-up {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-5px);
  }
}

@keyframes float-down {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(5px);
  }
}

@keyframes float-left {

  0%,
  100% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-5px);
  }
}

@keyframes float-right {

  0%,
  100% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(5px);
  }
}


@keyframes fadeInScale {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }

  100% {
    opacity: 0.2;
    transform: scale(1);
  }
}

.float-up {
  animation: float-up 3s ease-in-out infinite;
}

.float-down {
  animation: float-down 3s ease-in-out infinite;
}

.float-left {
  animation: float-left 3s ease-in-out infinite;
}

.float-right {
  animation: float-right 3s ease-in-out infinite;
}

.animate-fade-in {
  animation: fadeInScale 0.8s ease-out forwards
}

nav{
  z-index: 80;
}

.glass-card {
  backdrop-filter: blur(16px);
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  opacity: 0.3;
  transition: all 300ms ease-in-out;
  cursor: pointer;
}

.glass-card-card{
  backdrop-filter: blur(16px);
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.glass-card:hover {
  background: rgba(255, 255, 255, 0.15);
  transform: translateY(-2px);
  opacity: 1;
}

#tag-open:hover{
  color: pink
}